.layout_header_ul{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 90px;
    align-items: center;
}
.layout_header_ul img{
    width: 100%;
    height: 100%;
}
.logo{
        width: 70px;
        padding-top: 90px;
}
.menu{
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    padding-top: 45px;
}
#footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}