.main_flexwrap{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
}
.main_flex_item{
    position: relative;
    width: 40vh;
    height: 40vh;
    border: 4px solid #fff;
    margin-right: 10vh;
    padding: 1%;
    box-sizing: border-box;

}
.main_flex_item button{
    position: absolute;
    bottom: 10%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    border: 2px solid white;
    background: transparent;
    border-radius: 30px;
    padding: 3% 7%;
    box-sizing: border-box;
}
.main_flex_item h4{
    font-size: 1.8vh;
    color: white;
}
.main_flex_item h4::after{
    content: '';
    display: block;
    width: 40vh;
    height: 3px;
    background-color: white;
    margin-top : 3%;
}
.main_flex_item p{
    font-size: 4.5vh;
    margin-top: 10%;
    font-weight: bold;
    color: white;
}


.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: brightness(0.7);
}
.bg img{
    width: 100%;
    height: 100%;
}